### Frontend ###
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SUPABASE_URL=https://YOUR-PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

### Backend ###
DATABASE_URL="postgresql://postgres:password@localhost:5432/portfolio?schema=public"
JWT_SECRET=your-super-secret-key
FINNHUB_API_KEY=

